body{
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}



.facebook{
    width: 600px;
    height: 550px;
    /* border: 2px solid; */
    /* background-color: aqua; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 30px;
    }

.fac{
 font-family: "Roboto Condensed", sans-serif;
 color: blue;
text-align: center;

}
.para{
text-align: center;
 
}
.form{
width: 400px;
height: 300px;
top: 100px;
background-color: rgba(240, 248, 255, 0.048);
border-radius: 20px;
box-shadow: 10px 10px 10px 10px gray;
/* justify-content: center; */
text-align: center;
display: flex;
flex-direction: column;
margin-top: 10px;

}
.input{

    padding: 10px;
width: 300px;
top: 200px;
    border: 1px solid #353131;
    border-radius: 7px;
    font-size: 14px;
    margin-top: 20px;
}
.create{
    background-color: #1a8804;
    color: white;
    border: 1px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
width: 200PX;


    
}
.input2{
    padding: 10px;
width: 300px;
top: 200px;
    border: 1px solid #353131;
    border-radius: 7px;
    font-size: 14px;
    margin-top: 20px;

}
.login{
     padding: 10px;
    width: 200px;
    top: 200px;
        border: 1px solid #353131;
        border-radius: 7px;
        font-size: 16px;
        
        background-color: blue;
        color: white;
        margin-top: 20px;

}
.forgit{
    margin-top: 20px;
}
